{{ template "header.html" . }}
<script>
  async function copyAltText(el) {
    await navigator.clipboard.writeText(el.alt);
  }
</script>
<main>
  <div class="info">
    <h2>Welcome the fun zone!</h2>
  </div>
  {{ $m := .Emuext }}
  <div class="info emus">
    {{- range .Emus -}}
      <img onclick="copyAltText(this)" draggable="false" class="emu" src="/emu/{{ . }}{{ index $m . }}" alt=":{{ . }}:">
    {{ end }}
  </div>
  <ul>
    {{- range .Emus -}}
      <li><img class="emu" src="/emu/{{ . }}{{ index $m . }}" title=":{{ . }}:"> :{{ . }}:
    {{ end }}
  </ul>
  <ul>
    {{- range .Memes -}}
      <li>meme: <a href="/meme/{{ . }}">{{ . }}</a>
    {{ end }}
  </ul>
</main>
