<!doctype html>
<html>
<head>
<title>honk {{ with .UserInfo.Options.MeCount -}} ({{.}}) {{- end }}</title>
<link href="/style.css{{ .StyleParam }}" rel="stylesheet">
{{ if .LocalStyleParam }}
<link href="/local.css{{ .LocalStyleParam }}" rel="stylesheet">
{{ end }}
<style>
{{ .UserStyle }}
</style>
<link href="/icon.png" rel="icon">
<meta name="theme-color" content="#305">
<meta name="viewport" content="width=device-width">
</head>
<body>
<header>

{{ if .UserInfo }}
  <details id="topmenu">
  <summary>
    menu
    <a class="myhonks" href="/{{ .UserSep }}/{{ .UserInfo.Name }}">{{ .UserInfo.Name }}</a>
  </summary>
    <nav class="header-nav-list">
      <details class="user-page" open>
      <summary>user</summary>
        <nav class="header-nav-list">
          <a id="atmelink" href="/atme" data-atmecount="{{ with .UserInfo.Options.MeCount -}} ( {{- . -}} ) {{- end }}">@me</a>
          <a id="firstlink" href="/first">first only</a>
          <a id="longagolink" href="/longago">long ago</a>
          <a id="savedlink" href="/saved">saved</a>
          <a href="/honkers">honkers</a>
          <a href="/chatter">chatter<span id=chatcount>{{ if .UserInfo.Options.ChatCount }}({{ .UserInfo.Options.ChatCount }}){{ end }}</span></a>
        </nav>
      </details>

      <details class="settings" open>
      <summary>settings</summary>
        <nav class="header-nav-list">
          <a href="/account">account</a>
          <a href="/hfcs">filters</a>
        </nav>
      </details>

      <details class="public-page" open>
      <summary>public</summary>
        <nav class="header-nav-list">
          <a id="homelink" href="/">home</a>
          <a href="/o">tags</a>
          <a href="/events">events</a>
          <a href="/front">front</a>
          <a href="/about">about</a>
        </nav>
      </details>

      <details>
      <summary>combos</summary>
        <nav class="header-nav-list">
        {{- range .Combos -}}
          <a class="combolink" href="/c/{{ . }}">{{ . }}</a>
        {{- end }}
        </nav>
      </details>

      <a href="/funzone">funzone</a>
      <a href="/xzone">xzone</a>
      <a href="/help/intro.1.html">help</a>

      <form action="/q" method="GET">
        <input type="text" name="q" autocomplete="off" placeholder="search">
      </form>
    </nav>
  </details>

  <div id="topspacer">
    <p>
    <p class="nophone" onclick="window.scrollTo(0,0)">top
  </div>
{{ else }}
  <nav id="topmenu" class="topmenu-no-userinfo">
    <a id="homelink" href="/">home</a>
    <a href="/o">tags</a>
    <a href="/events">events</a>
    <a href="/about">about</a>
    {{ if .ShowRSS }}
      <a href="/rss">rss</a>
    {{ end }}
    <a href="/login">login</a>
  </nav>
{{ end }}
</header>
