<!doctype html>
<html>
<head>
  <title>honk {{ with .UserInfo.Options.MeCount -}} ({{.}}) {{- end }}</title>
  <link href="/style.css{{ .StyleParam }}" rel="stylesheet">
  {{ if .LocalStyleParam }}
    <link href="/local.css{{ .LocalStyleParam }}" rel="stylesheet">
  {{ end }}
  <link href="/icon.png" rel="icon">
  <meta name="theme-color" content="#305">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body class="{{ if not .UserInfo }} no-userinfo {{ end }}">
<header>

{{ if .UserInfo }}
  <details id="topmenu">
    <summary>
      <button id="head-honking" class="head-btn" title="honk (post)">&#x029C;</button>{{/* ʜ */}}
      <button id="head-refresh" class="head-btn" title="update check">&#x27F3;</button>{{/* ⟳ … ✕ */}}
    </summary>
  </details>

  <nav class="header-nav-list">
    <a id="homelink" href="/">home</a>
    <a id="firstlink" href="/first">hide replies</a>
    <a href="/o">tags</a>
    <a href="/front" hidden>front</a>

    <details class="user-page" open>
    <summary>user</summary>
      <nav class="header-nav-list">
        <a class="myhonks" href="/{{ .UserSep }}/{{ .UserInfo.Name }}">myhonks</a>
        <a id="atmelink" href="/atme" data-atmecount="{{ with .UserInfo.Options.MeCount -}} ( {{- . -}} ) {{- end }}">@me</a>
        <a id="longagolink" href="/longago">long ago</a>
        <a id="savedlink" href="/saved">saved</a>
        <a href="/honkers">honkers</a>
        <a href="/chatter">chatter<span id=chatcount>{{ if .UserInfo.Options.ChatCount }}({{ .UserInfo.Options.ChatCount }}){{ end }}</span></a>
      </nav>
    </details>

    <details class="settings" open>
    <summary>settings</summary>
      <nav class="header-nav-list">
        <a href="/account">account</a>
        <a href="/hfcs">filters</a>
      </nav>
    </details>

    <details>
    <summary>combos</summary>
      <nav class="header-nav-list">
      {{- range .Combos -}}
        <a class="combolink" href="/c/{{ . }}">{{ . }}</a>
      {{- end }}
      </nav>
    </details>

    <a href="/about">about</a>
    <a href="/events">events</a>
    <a href="/funzone">funzone</a>
    <a href="/xzone">xzone</a>
    <a href="/help/intro.1.html">help</a>

    <form id="search" action="/q" method="GET">
      <input type="text" name="q" autocomplete="off" size="10" placeholder="search">
    </form>
  </nav>
{{ else }}
  <nav id="topmenu" class="no-userinfo">
    <a id="homelink" href="/">home</a>
    <a href="/o">tags</a>
    <a href="/events">events</a>
    <a href="/about">about</a>
    {{ if .ShowRSS }}
      <a href="/rss">rss</a>
    {{ end }}
    <a href="/login">login</a>
  </nav>
{{ end }}
</header>
