{{ template "header.html" . }}
<main>
<div class="info">
  <h2>add new honker</h2>
  <form action="/submithonker" method="POST" class="new-honker">
    <input type="hidden" name="CSRF" value="{{ .HonkerCSRF }}">

    <label for=url>url:
      <input tabindex=1 type="text" name="url" value="" autocomplete=off>
    </label>

    <label for=name>name:
      <input tabindex=1 type="text" name="name" value="" placeholder="optional" autocomplete=off>
    </label>

    <label for=combos>combos:
      <input tabindex=1 type="text" name="combos" value="" placeholder="optional">
    </label>

    <input tabindex=1 type="checkbox" id="peep" name="peep" value="peep">
    <label class=button for="peep">skip following (for combos):</label>

    <label for="notes">notes:
      <textarea tabindex=1 name="notes" cols="80">
      </textarea>
    </label>

    <button tabindex=1 name="add honker" value="add honker">add honker</button>
  </form>
</div>

{{ $honkercsrf := .HonkerCSRF }}
<article class="honkers">
  {{- range .Honkers -}}
  <section class="honk">
    <header class="honker">
      <div class="header-info">
        <div>[{{ .Flavor }}]</div>
        <a href="/h/{{ .Name }}" class="{{ if eq .Flavor "peep" }}peep{{ end }}">{{ .Name }}</a>
        <a href="{{ .XID }}" rel="noreferrer" target="_blank">( {{ .XID }} )</a>
      </div>
    </header>

    <details class="profile">
    <summary>Profile</summary>
      <div hidden>flavor: {{ .Flavor }}</div>

      <form action="/submithonker" method="POST" class="new-honker">
        <input type="hidden" name="CSRF" value="{{ $honkercsrf }}">
        <input type="hidden" name="honkerid" value="{{ .ID }}">

        <label>name:
          <input type="text" name="name" value="{{ .Name }}">
        </label>

        <label>combos:
          <input type="text" name="combos" value="{{ range .Combos }}{{ . }} {{end}}">
        </label>

        <label for="notes">notes:
          <textarea name="notes" cols="80">{{ .Meta.Notes }}</textarea>
        </label>

        <div class="buttonarray">
          <button name="sub" value="sub">(re)follow</button>
          <button name="unsub" value="unsub">unfollow</button>
          <button name="delete" value="delete">delete</button>
        </div>
        <button name="save" value="save">save</button>
      </form>
    </details>
  </section>
  {{- end }}
</article>
</main>
