{{ template "header.html" . }}
<main class="{{ if not .UserInfo -}} no-user-info {{- end }}">
<div class="info" id="infobox">
  <div id="srvmsg">
    {{ if .Name }}
      <div>{{ .Name }} <a href="/u/{{ .Name }}/rss">rss</a></div>
      <div>{{ .WhatAbout }}</div>
    {{ end }}

    {{ .ServerMessage }}
  </div>

  {{ if .HonkCSRF }}
    {{ template "honkform.html" . }}

    <script src="/honkpage.js{{ .JSParam }}" data-csrf="{{ .HonkCSRF }}" data-pagename="{{ .PageName }}" data-pagearg="{{ .PageArg }}" data-tophid="{{ .TopHID }}" data-srvmsg="{{ .ServerMessage }}" defer></script>
  {{ end }}

  {{ if .LocalJSParam }}
    <script src="/local.js{{ .LocalJSParam }}" defer></script>
  {{ end }}
</div>

{{ if and .HonkCSRF (not .IsPreview) }}
  <div class="info" id="refreshbox">
    <button class="refresh-btn" data-msg="_">refresh</button>
  </div>
{{ end }}

<div id="honksonpage">
  <div class="honkslist">
    {{- $BonkCSRF := .HonkCSRF -}}
    {{- $IsPreview := .IsPreview -}}
    {{- $MapLink := .MapLink -}}
    {{- $Badonk := .User.Options.Reaction -}}
    {{- $OmitImages := .User.Options.OmitImages -}}

    {{- range .Honks -}}
      {{- template "honk.html" map "Honk" . "MapLink" $MapLink "BonkCSRF" $BonkCSRF "IsPreview" $IsPreview "Badonk" $Badonk "OmitImages" $OmitImages }}
    {{- end -}}
  </div>
</div>
</main>
