<article class="honk {{ .Honk.Style }}" data-convoy="{{ .Honk.Convoy }}">

{{- $bonkcsrf := .BonkCSRF -}}
{{- $IsPreview := .IsPreview -}}
{{- $maplink := .MapLink -}}
{{- $omitimages := .OmitImages -}}

{{- $rel := "noreferrer noopener" -}}

{{ with .Honk }}
<header>
  {{ if and $bonkcsrf (not $omitimages) }}
    <a class="honkerlink" href="/h?xid={{ .Honker }}" data-xid="{{ .Honker }}" rel="{{ $rel }}">
      <img alt="" src="/a?a={{ .Honker}}" width="64" height="64">
    </a>

    {{ if .Oonker }}
      <a class="honkerlink" href="/h?xid={{ .Oonker }}" data-xid="{{ .Oonker }}" rel="{{ $rel }}">
        <img alt="" src="/a?a={{ .Oonker}}" width="64" height="64">
      </a>
    {{ end }}
  {{ end }}

  <div class="header-info">
    <span class="clip user-addr-date">
      {{ if $bonkcsrf }}
        <a class="username honkerlink" href="/h?xid={{ .Honker }}" data-xid="{{ .Honker }}" rel="{{ $rel }}">{{ .Username }}</a>
      {{ else }}
        <a class="username" href="{{ .Honker }}" rel="{{ $rel }}">{{ .Username }}</a>
      {{ end }}

      <address>
        <a href="{{ .URL }}" rel="{{ $rel }}" target="_blank">{{ .What }}</a>
      </address>

      {{- $date := .Date -}}
      {{- $iso8601 := ($date.Local.Format "2006-01-02T15:04:05-07:00") -}}
      {{- $date_time := ($date.Local.Format "2006-01-02 15:04:05") -}}

      <time datetime="{{ $iso8601 }}" title="{{ $iso8601 }}">{{ $date_time }}</time>
    </span>

    {{ if .Oonker }}
      <span class="clip pre-txt" data-pre-txt="original">
        {{ if $bonkcsrf }}
          <a class="honkerlink" href="/h?xid={{ .Oonker }}" data-xid="{{ .Oonker }}" data-pre-txt="original" rel="{{ $rel }}">{{ .Oondle }}</a>
        {{ else }}
          <a href="{{ .Oonker }}" rel="{{ $rel }}" target="_blank">{{ .Oondle }}</a>
        {{ end }}
      </span>
    {{ end }}
  </div>
</header>

{{- $noise_c := "noise" -}}
{{- if eq .What "bonked" -}}
  {{- $noise_c = $noise_c | printf "%s %s" "bonk" -}}
{{- end -}}
{{- if $omitimages -}}
  {{- $noise_c = $noise_c | printf "%s %s" "omitimages" -}}
{{- end -}}
{{- if not .Open -}}
  {{- $noise_c = $noise_c | printf "%s %s" "dz" -}}
{{- end -}}

<details class="{{ $noise_c}}" {{ if .Open }} {{ .Open }} {{ end }}>
<summary>{{ .HTPrecis }}</summary>
  {{ .HTML }}

{{- with .Donks -}}
  <div class="donks">
  {{- range . }}
    {{ if .Local }}
      {{- $desc := (printf "%s (%s)" .Desc .Name) -}}
      {{- $url := (printf "/d/%s" .XID) -}}
      {{- if eq .Desc .Name -}}
        {{- $desc = .XID -}}
      {{- end -}}

      {{ if eq .Media "text/plain" }}
        <a href="{{ $url }}" rel="{{ $rel }}" target="_blank">Attachment: {{ $desc }}</a>
      {{ else if eq .Media "application/pdf" }}
        <a href="{{ $url }}" rel="{{ $rel }}" target="_blank">Attachment: {{ $desc }}</a>
      {{ else }}
        {{ if $omitimages }}
          <a href="{{ $url }}" rel="{{ $rel }}" target="_blank">Image: {{ $desc }}</a>
        {{ else }}
          <img src="{{ $url }}" title="{{ .Desc }}" alt="{{ .Desc }}" loading="lazy">
        {{ end }}
      {{ end }}
    {{- else if .External -}}
      <a href="{{ .URL }}" rel="{{ $rel }}" target="_blank">External Attachment: {{ .Name }} {{ .Desc }}</a>
    {{ end }} {{/* if .Local */}}
  {{ end }} {{/* range .Donks */}}
  </div>
{{- end -}} {{/* with .Donks */}}
</details>
{{ end }}

{{ if and $bonkcsrf (not $IsPreview) }}
  {{- $xid := .Honk.XID -}}
  {{- $convoy := .Honk.Convoy -}}

  <footer>
    {{ if .Honk.Public }}
      {{ if .Honk.IsBonked }}
        <button name="unbonk" data-xid="{{ $xid }}">unbonk</button>
      {{ else }}
        <button name="bonk" data-xid="{{ $xid }}">bonk</button>
      {{ end }}
    {{ else }}
      <button disabled>nope</button>
    {{ end }}

    {{ if .Honk.IsSaved }}
      <button name="unsave" data-xid="{{ $xid }}">unsave</button>
    {{ else }}
      <button name="save" data-xid="{{ $xid }}">save</button>
    {{ end }}

    <button name="showhonkform" data-xid="{{ $xid }}" data-handles="{{ .Honk.Handles }}"><a href="/newhonk?rid={{ $xid }}">honk back</a></button>

    {{- if .Honk.RID }}
      <a href="{{ .Honk.RID }}" rel="{{ $rel }}" target="_blank">in reply to</a>
    {{- end }}

    <a class="convoylink" href="/t?c={{ $convoy }}" rel="{{ $rel }}" data-convoy="{{ $convoy }}">thread</a>

    <details class="actions">
      <summary></summary>
    </details>
    <div class="actions-misc-menu">
      <button><a href="/edit?xid={{ $xid }}">edit</a></button>

      <button name="muteit" data-convoy="{{ $convoy }}">mute</button>
      <button name="zonkit" data-xid="{{ $xid }}">delete</button>

      {{ if .Honk.IsAcked }}
        <button name="deack" data-xid="{{ $xid }}">deack</button>
      {{ else }}
        <button name="ack" data-xid="{{ $xid }}">ack</button>
      {{ end }}

      {{ if .Honk.IsUntagged }}
        <button disabled>untagged</button>
      {{ else }}
        <button name="untag" data-xid="{{ $xid }}">untag me</button>
      {{ end }}

      {{ if not (eq .Badonk "none") }}
        {{ if .Honk.IsReacted }}
          <button disabled>badonked</button>
        {{ else }}
          <button name="react" data-xid="{{ $xid }}">{{ .Badonk }}</button>
        {{ end }}
      {{ end }}
    </div>
  </footer>
{{ end }}
</article>
