html {
  --bg-page: #306;
  --bg-dark: #002;
  --fg: #dcf;
  --hl: #dcf;
  --fg-subtle: #a9c;
  --fg-limited: #a79;
}

body {
  background: var(--bg-page);
  color: var(--fg);
  font-size: 1em;
  word-wrap: break-word;
  font-family: sans-serif, "Noto Color Emoji";
  line-height: 1.2;
  overscroll-behavior-y: contain;

  --body-margin: 8px;
  --body-gap: 4px;
  margin: var(--body-margin);
  gap: var(--body-gap);
  --side-menu-width: 10rem;
}
pre, code {
  white-space: pre-wrap;
}
blockquote {
  margin-left: 0em;
  margin-bottom: 0em;
  padding-left: 0.5em;
  border-left: 1px solid var(--fg-subtle);
}
cite {
  margin-left: 2em;
}
table {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}
a {
  color: var(--fg);
}
form, input, textarea {
  font-family: monospace, "Noto Color Emoji";
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
input {
  background: var(--bg-page);
  color: var(--fg);
  font-size: 1.0em;
  line-height: 1.2em;
  padding: 0.4em;
}
#honkform input {
  font-size: 0.8em;
}
body > header {
  font-size: 1.1rem;
  position: fixed;
  overflow-y: auto;
  max-height: calc(100vh - var(--body-margin) * 2);
  width: var(--side-menu-width);
  background-color: var(--bg-dark);
  /*
  border: 1px solid var(--hl);
  */
}
body > header span {
  margin-left: 2em;
}
body > header p {
  padding: 1em;
}
header > details {
  background: var(--bg-page);
  padding: .5em;
  opacity: 0.7;
  overscroll-behavior: contain;
  z-index: 2;
}
header > details[open] {
  padding: .5em 0 0 .5em;
  background: var(--bg-dark);
  opacity: 1.0;
}
header > details summary span {
  display: none;
}
header > details[open] summary span {
  display: inline;
}
header > details li {
  margin: 1em 0em 1em 0em;
}
details summary {
  cursor: pointer;
}

main {
  max-width: 1200px;
  padding-top: 4rem;
}

.header-nav-list {
  display: flex;
  flex-flow: column nowrap;
  gap: .25rem;
  margin: .25rem 0;
}

.header-nav-list > a {
  background-color: var(--bg-page);
  text-decoration: none;
  color: var(--hl);
  padding: .2em .4em;
  font-size: .9em;
}

/*
.header-nav-list > details {
  border-bottom: 1px solid var(--hl);
}
*/
.header-nav-list > details > .header-nav-list {
  margin-left: .5rem;
}

header > .header-nav-list {
  display: none;
  margin: 0;
  padding: 0 .5rem .5rem;
}
#topmenu[open] ~ .header-nav-list {
  display: flex;
  background-color: var(--bg-dark);
}

#atmelink::after {
  content: attr(data-atmecount);
  margin-left: 1em;
}

.myhonks {
  margin-left: .5rem;
}

#topmenu ~ .myhonks {
  display: none;
}
#topmenu[open] ~ .myhonks {
  display: inline-block;
}

#refreshbox,
.buttonarray {
  margin-top: 0;
  display: flex;
  flex-flow: row wrap;
  gap: .5em;
}

@media (min-width: 800px) {
  body {
    display: grid;
    grid-template-columns: var(--side-menu-width) auto;
    gap: 4px;
  }
  /*
  body > header {
    width: var(--side-menu-width);
    background-color: var(--bg-dark);
  }
  */
  main {
    grid-column: 2/-1;
    padding-top: 0;
    max-width: calc(100vw - var(--side-menu-width) - var(--body-margin) * 2 - var(--body-gap));
  }
  #topmenu ~ .header-nav-list { display: flex }
  #topmenu,
  #topmenu ~ .header-nav-list {
    background-color: var(--bg-dark);
    opacity: 1;
  }
  #topmenu ~ .myhonks { display: inline-block }
  #refreshbox { display: none }
}

body.no-userinfo {
  display: block;
}
body.no-userinfo > header {
  width: auto;
  position: unset;
  background-color: var(--bg-dark);
  margin-bottom: .5rem;
}
#topmenu.no-userinfo {
  display: flex;
  flex-flow: row wrap;
  gap: .5rem 1rem;
  padding: .5rem 1rem;
}
body.no-userinfo > main {
  padding-top: 0;
  max-width: initial;
}

hr {
  border-color: var(--hl);
}
.info {
  background: var(--bg-dark);
  border: 1px solid var(--hl);
  margin-bottom: 1em;
  padding: 1em;
}
.info div {
  margin-top: 1em;
  margin-bottom: 1em;
}
label {
  font-size: 0.8em;
}
label.button, button, select {
  font-size: 16px;
  font-family: monospace;
  color: var(--fg);
  background: var(--bg-page);
  border: 1px solid var(--hl);
  padding: 0.5em;
  white-space: nowrap;
}
.buttonarray {
  margin-top: -2.0em;
}
.buttonarray button,
.buttonarray > span {
  margin-top: 2.0em;
  display: inline-block;
}
button a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
/*
form {
  margin-top: 1em;
}
*/
textarea {
  padding: 0.5em;
  font-size: 1em;
  background: var(--bg-page);
  color: var(--fg);
  width: 600px;
  height: 4em;

  margin-bottom: 0.5em;
  box-sizing: border-box;
  max-width: 100%;
}
textarea#honknoise {
  height: 10em;
}
input[type="checkbox"] + span:after {
  content: "no";
}
input[type="checkbox"]:checked + span:after {
  content: "yes";
}
input[type="checkbox"]:focus + span:after {
  outline: 1px solid var(--fg);
}
input[type="checkbox"],
input[type="file"] {
  display: none;
}

.glow {
  box-shadow: 0px 0px 16px var(--hl);
}

#honkform:not([hidden]),
.form-flex,
.xzone-honkers,
.honkslist {
  display: flex;
  flex-flow: column nowrap;
}

#honkform:not([hidden]),
.form-flex {
  gap: .5em 0;
}
#honkform:not([hidden]),
.form-flex label {
  font-size: 1em;
}
#honkform:not([hidden]),
.form-flex button {
  width: max-content;
}

.honk {
  background: var(--bg-dark);
  border-bottom: 2px solid var(--bg-page);
  margin: 0;
  padding: .5em .5em 2px;
}

.chat {
  border-bottom: 0.5px solid var(--fg-subtle);
  padding-left: 1em;
}
.chat p {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.chattarget {
  border-bottom: 1px solid var(--fg-subtle);
}
.chatstamp {
  margin-left: -1em;
}

.honk  #honkform {
    padding: 1em;
    border: 1px solid var(--fg);
  }
.honk  a {
    color: var(--fg);
  }
.honk  header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8em;
    line-height: 1.1;
    margin-top: 1em;
    height: 4em;
  }

.honk  header  .clip a {
      color: var(--fg-subtle);
    }
/*
.honk  header  img {
      float: left;
      margin-right: 1em;
      width: 64px;
      height: 64px;
    }
*/
.honk  header  p {
      margin-top: 0px;
    }
/*
.honk  .actions button {
    margin-left: 4em;
    margin-top: 2em;
  }
*/
.honk  .noise {
    line-height: 1.4;
  }

.honk  .noise  code .kw { font-weight: bold; }
.honk  .noise  code .bi { font-weight: bold; }
.honk  .noise  code .st { color: var(--fg-subtle); }
.honk  .noise  code .nm { color: #ba88ff; }
.honk  .noise  code .op { color: #ba88ff; }
.honk  .noise  code .tp { font-weight: bold; }
.honk  .noise  code .cm { color: var(--fg-subtle); font-style: italic; }
.honk  .noise  code .al { color: #aaffbb; }
.honk  .noise  code .dl { color: #ffaabb; }

.honk  details.actions summary {
    color: var(--fg-subtle);
}
.subtle .noise {
    color: var(--fg-subtle);
}
.subtle .noise a {
    color: var(--fg-subtle);
}
.limited {
  border: 1px solid var(--fg-limited);
  color: var(--fg-limited);
}
.limited  .glow {
    box-shadow: 0px 0px 16px var(--fg-limited);
}
.limited  .noise {
    color: var(--fg-limited);
  }
.limited  .noise a {
    color: var(--fg-limited);
  }
.limited  details.actions summary {
    color: var(--fg-limited);
  }
h1, h2 {
  font-size: 1.1rem;
}
h3, h4 {
  font-size: 1rem;
}

img:not(.emu) {
  background: var(--bg-page);
}
img, video {
  max-width: 100%;
  max-height: 600px;
}
/*
.noise img:not(.emu) {
  display: block;
}
*/
img.emu {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  margin: -2px;
  object-fit: contain;
}
.nophone {
  position: fixed;
  opacity: 0.7;
  cursor: pointer;
}
@media screen and (max-width: 1360px) {
  .nophone {
    display: none;
  }
}
@media screen and (max-width: 740px) {
  details summary {
    outline: none;
  }
}
@media print {
  #topmenu, #topspacer, #infobox, #refreshbox, .actions {
    display: none;
  }
  /*
  html {
    --bg-page: white;
    --bg-dark: white;
    --fg: black;
    --fg-subtle: black;
    --fg-limited: #a79;
  }
  */
}

.clip {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actions-misc-menu {
  display: flex;
  gap: 0 .5rem;
  flex-flow: row wrap;
  justify-content: flex-end;
  width: 100%;
}
.actions-misc-menu > button {
  margin: 0;
  padding: .25em .5em;
}
.actions + .actions-misc-menu {
  visibility: hidden;
}
.actions[open] + .actions-misc-menu {
  visibility: visible;
}

.actions > summary {
  display: inline-block;
}
.actions > summary::before {
  content: '\2026';
  font: bold 1.2em monospace;
}
.actions[open] > summary::before {
  content: '\2715';
}

.honk > footer {
  display: flex;
  flex-flow: row wrap;
  gap: .25em .5em;
  justify-content: flex-end;
  font-size: .85em;
}

.honk > footer > button,
.actions-misc-menu > button {
  font-size: 1em;
  padding: 0 .5em;
  background-color: var(--bg-dark);
  border: 1px outset var(--fg-subtle);
}

.honk header {
  overflow: hidden;
  font-size: .9em;
  line-height: 1.1;
  margin-top: 0;
  display: flex;
  gap: 0 .5em;
  flex-flow: row nowrap;
  height: unset;
}

.honk .noise {
  max-height: 50vh;
  overflow: auto;
  border-left: 1px dotted var(--hl);
  padding: 0 .5em .5em;
  font-size: .95em;
  line-height: 1.5;
}

.honk .noise > p {
  margin: 0;
}

.pre-txt {
  padding-left: .5em;
}

.pre-txt::before {
  content: attr(data-pre-txt) ': ';
}

.user-addr-date {
  display: flex;
  flex-flow: row nowrap;
  gap: 0 .5em;
}

.header-info {
  display: flex;
  margin: 0;
  flex-flow: column wrap;
  gap: .1rem 0;
  overflow: hidden;
  width: 100%;
}

.honk header img {
  max-width: unset;
  width: 3em;
  height: 3em;
}

.user-addr-date time {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: auto;
  color: var(--fg-subtle);
  font-style: italic;
}

blockquote > img {
  display: block;
}

blockquote > img {
  display: block;
}

.omitimages > blockquote > img {
  display: none;
}

.actions,
.buttonarray > button {
  margin: 0;
}

.refresh-btn::after {
  content: ' [' attr(data-msg) ']';
}

#donker::after {
  content: ' ' attr(data-filename);
}

.about-grid {
  display: grid;
  grid-template: auto / auto auto;
  max-width: fit-content;
  gap: .25em;
}

.about-grid > div {
  margin-top: 0;
  margin-bottom: 0;
}

.about-desc {
  grid-column: 1/2;
  text-align: end;
}

.about-val {
  grid-column: 2/3;
  margin-left: auto;
}

.info {
  padding: .5em 1em;
  margin-bottom: .5em;
}

textarea[name="notes"],
textarea.whatabout {
  display: block;
  width: unset;
  height: unset;
}

#aboutform {
  display: flex;
  flex-flow: column nowrap;
  gap: .5em;
}

#aboutform > label {
  font-size: 1em;
}
#aboutform > label,
#aboutform > button {
  width: max-content;
}
#aboutform > input[type="checkbox"] + label::after {
  content: " [no]";
}
#aboutform > input[type="checkbox"]:checked + label::after {
  content: " [yes]";
}
#aboutform > label > input {
  display: block;
}

.update-btn {
  font: bold 1em sans-serif;
  color: var(--hl);
  margin-left: auto;
}

.honk {
  display: flex;
  flex-flow: column nowrap;
  gap: .5em 0;
}

details.noise[open] > summary {
  display: none;
}

details.noise.dz > summary {
  margin: .5em 0;
}
details.noise.dz[open] > summary {
  display: list-item;
  margin-bottom: 1em;
}

#honkform > details > div,
#honkform > details > p {
  margin: 1em 0;
}

#search {
  margin-top: 0;
  font-size: .8em;
}

.onts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 12ch);
  gap: 1rem .2rem;
  justify-content: space-between;
}
.onts a {
  line-height: 1;
  text-decoration: none;
  border-bottom: 1px solid var(--bg-page);
}
.ont-count {
  font-size: .9em;
}

form.new-honker {
  display: flex;
  flex-flow: column;
  gap: .5rem;
  max-width: max-content;
}
.new-honker > label {
  font-size: .9em;
  line-height: 1.1;
}
.new-honker > label > input {
  display: block;
}
.new-honker > input[type="checkbox"] + label::after {
  content: " [no]";
}
.new-honker > input[type="checkbox"]:checked + label::after {
  content: " [yes]";
}
.new-honker > label.button {
  width: max-content;
}
.new-honker button[name="save"],
.new-honker > button[name="add honker"] {
  margin-left: auto;
  color: var(--hl);
  width: max-content;
}
.new-honker .buttonarray {
  margin-left: auto;
}

textarea {
  margin-bottom: 0;
}

.profile {
  padding-left: .5em;
}

.peep::after {
  content: ' (peep)';
}

.honker a {
  font-size: 1.1em;
}

.xzone-honkers .honk {
  display: block;
}

div.emus {
  display: grid;
  grid-template-columns: repeat(auto-fit, 2em);
  gap: .5em 1em;
}

.honk .clip a.username {
  color: var(--fg);
}

#srvmsg form {
  margin-top: 1rem;
}

.head-btn {
  border: none;
  background: unset;
  padding: 0;
  font-size: 1.5em;
  height: 1em;
  line-height: 1;
  margin-left: 1rem;
}
